Source/average-flow.json
[
    {
        "id": "3ac47ca6.26207c",
        "type": "tab",
        "label": "Average",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d515a35e.fab35",
        "type": "inject",
        "z": "3ac47ca6.26207c",
        "name": "Average inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "667d8ca2.76e02c",
                "3a581533.53b842",
                "f8250a3.3e56378",
                "4a898dfb.e229b4",
                "eb43118e.8e991"
            ]
        ]
    },
    {
        "id": "667d8ca2.76e02c",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room1Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "67bec4ae.07ff3c",
                "fc8e0450.edbeb8"
            ]
        ]
    },
    {
        "id": "8ebc45c6.839868",
        "type": "function",
        "z": "3ac47ca6.26207c",
        "name": "RoomAvg",
        "func": "var num = msg.payload.split(\"\\n\");\nvar avg = 0;\n\nfor(var i = 0; i < num.length - 1; i++)\n{\n    avg += parseInt(num[i]);\n}\nmsg.payload = avg/(num.length - 1);\n\nvar newMsg = {payload: parseInt(num[num.length - 2])};\nreturn [msg, newMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "2b3add72.fb16e2"
            ],
            [
                "226d1d88.606262"
            ]
        ]
    },
    {
        "id": "3a581533.53b842",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room2Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "1da90ca2.3c53eb",
                "fb73e92f.20928"
            ]
        ]
    },
    {
        "id": "f8250a3.3e56378",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room3Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "410cc3f8.06f064",
                "70dd9a3a.6548c4"
            ]
        ]
    },
    {
        "id": "4a898dfb.e229b4",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room4Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "bdc11114.4ca17",
                "eeaed5dd.caa7b8"
            ]
        ]
    },
    {
        "id": "1da90ca2.3c53eb",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room2 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "8ebc45c6.839868"
            ]
        ]
    },
    {
        "id": "67bec4ae.07ff3c",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room1 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "8ebc45c6.839868"
            ]
        ]
    },
    {
        "id": "410cc3f8.06f064",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room3 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "8ebc45c6.839868"
            ]
        ]
    },
    {
        "id": "bdc11114.4ca17",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room4 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "8ebc45c6.839868"
            ]
        ]
    },
    {
        "id": "f9b6a4de.47f498",
        "type": "comment",
        "z": "3ac47ca6.26207c",
        "name": "MQTT IN QUESTA ZONA",
        "info": "",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "226d1d88.606262",
        "type": "function",
        "z": "3ac47ca6.26207c",
        "name": "HomeAvg",
        "func": "var count   = flow.get('count') || 0;\nvar sum     = flow.get('sum') || 0;\n\nsum += msg.payload;\n\nif(++count == 4) //Change based on motes\n{\n    msg.payload = sum / 4;\n    msg.topic = \"HomeAvg\";\n    return msg;\n}\nelse\n{\n    flow.set('count', count);\n    flow.set('sum', sum);\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "5287c9fd.20b428"
            ]
        ]
    },
    {
        "id": "5287c9fd.20b428",
        "type": "switch",
        "z": "3ac47ca6.26207c",
        "name": "NOT NULL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "e4a08012.ce9bd8"
            ]
        ]
    },
    {
        "id": "fc8e0450.edbeb8",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room1Temp",
        "filename": "room1Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fb73e92f.20928",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room2Temp",
        "filename": "room2Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "70dd9a3a.6548c4",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room3Temp",
        "filename": "room3Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "eeaed5dd.caa7b8",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room4Temp",
        "filename": "room4Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9cdce774.887988",
        "type": "catch",
        "z": "3ac47ca6.26207c",
        "name": "",
        "scope": [
            "fc8e0450.edbeb8",
            "fb73e92f.20928",
            "70dd9a3a.6548c4",
            "eeaed5dd.caa7b8",
            "667d8ca2.76e02c",
            "3a581533.53b842",
            "f8250a3.3e56378",
            "4a898dfb.e229b4"
        ],
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e4a08012.ce9bd8",
        "type": "ui_chart",
        "z": "3ac47ca6.26207c",
        "name": "",
        "group": "11087d11.6fc88b",
        "order": 2,
        "width": "24",
        "height": "6",
        "label": "Room Temperature (AVG)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0297ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1460,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b3add72.fb16e2",
        "type": "ui_chart",
        "z": "3ac47ca6.26207c",
        "name": "",
        "group": "8c48261c.37e358",
        "order": 1,
        "width": "24",
        "height": "6",
        "label": "Room Temperature (AVG)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0297ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1080,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "eb43118e.8e991",
        "type": "function",
        "z": "3ac47ca6.26207c",
        "name": "Reset flow variables",
        "func": "flow.set('count', 0);\nflow.set('sum',0);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "11087d11.6fc88b",
        "type": "ui_group",
        "z": "",
        "name": "AverageHome",
        "tab": "a018bfbd.b26318",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "8c48261c.37e358",
        "type": "ui_group",
        "z": "",
        "name": "AverageRoom",
        "tab": "a018bfbd.b26318",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "a018bfbd.b26318",
        "type": "ui_tab",
        "z": "",
        "name": "AverageTab",
        "icon": "dashboard",
        "order": 2
    }
]
