Source/mote_flow.json
[
    {
        "id": "d2f31f2e.76825",
        "type": "tab",
        "label": "Rooms",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e5c17a4.a9ed1",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7402:2:202]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "172bada.6784b52",
                "368ccc70.02049c"
            ]
        ]
    },
    {
        "id": "35307c11.c41854",
        "type": "inject",
        "z": "d2f31f2e.76825",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "6e5c17a4.a9ed1",
                "8c42f3ac.c769e8"
            ]
        ]
    },
    {
        "id": "c9dbaa76.4467b8",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "c657a8f0.d93498"
            ]
        ]
    },
    {
        "id": "172bada.6784b52",
        "type": "ui_gauge",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "f0c1b632.d8cf18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 1",
        "label": "",
        "format": "{{value}}째C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "66f6037.d3c55fc",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Air conditioner",
        "group": "f0c1b632.d8cf18",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "ace4d990.eea7f"
            ]
        ]
    },
    {
        "id": "f757e588.a74108",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Heating",
        "group": "f0c1b632.d8cf18",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "ace4d990.eea7f"
            ]
        ]
    },
    {
        "id": "ea596775.63c22",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Ventilation",
        "group": "f0c1b632.d8cf18",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "ace4d990.eea7f"
            ]
        ]
    },
    {
        "id": "1971eeab.8ae451",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "f0c1b632.d8cf18",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "c9dbaa76.4467b8"
            ]
        ]
    },
    {
        "id": "c657a8f0.d93498",
        "type": "function",
        "z": "d2f31f2e.76825",
        "name": "",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 480,
        "wires": [
            [
                "f6d98231.8b465"
            ]
        ]
    },
    {
        "id": "f6d98231.8b465",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 1 status",
        "name": "Status",
        "x": 870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ace4d990.eea7f",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "f010098.60e34f8"
            ]
        ]
    },
    {
        "id": "f010098.60e34f8",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 1",
        "name": "Action notification",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "1d09bb08.a68375",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7403:3:303]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "761fe64.f703618",
                "f0672852.f27c48"
            ]
        ]
    },
    {
        "id": "b5982bd3.1c241",
        "type": "inject",
        "z": "d2f31f2e.76825",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "1d09bb08.a68375",
                "4ce68620.7de3c"
            ]
        ]
    },
    {
        "id": "1308631b.ba4775",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "628a7e0a.0cf738"
            ]
        ]
    },
    {
        "id": "39107de3.e5b222",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Air conditioner",
        "group": "4a22e179.bac6a8",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "c776a3f9.a7ca28"
            ]
        ]
    },
    {
        "id": "6b749b21.c02cfc",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Heating",
        "group": "4a22e179.bac6a8",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "c776a3f9.a7ca28"
            ]
        ]
    },
    {
        "id": "92dd56e0.f3079",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Ventilation",
        "group": "4a22e179.bac6a8",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "c776a3f9.a7ca28"
            ]
        ]
    },
    {
        "id": "52e9ad47.cfe94c",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "4a22e179.bac6a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "1308631b.ba4775"
            ]
        ]
    },
    {
        "id": "628a7e0a.0cf738",
        "type": "function",
        "z": "d2f31f2e.76825",
        "name": "",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 980,
        "wires": [
            [
                "7ebf34a6.0b342c"
            ]
        ]
    },
    {
        "id": "7ebf34a6.0b342c",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 2 status",
        "name": "Status",
        "x": 870,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c776a3f9.a7ca28",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "5723bef1.71bba"
            ]
        ]
    },
    {
        "id": "5723bef1.71bba",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 2",
        "name": "Action notification",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "2fa6dbef.37751c",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7404:4:404]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "a626bf68.2d5448",
                "23ccd1b9.939f3e"
            ]
        ]
    },
    {
        "id": "5a1d5b3c.9925d4",
        "type": "inject",
        "z": "d2f31f2e.76825",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "2fa6dbef.37751c",
                "ae1f9c31.3e5388"
            ]
        ]
    },
    {
        "id": "f00342b5.231fe",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "a7d5e0ae.95a37"
            ]
        ]
    },
    {
        "id": "6e5d6373.b364b4",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Air conditioner",
        "group": "90f4399.fea5648",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "b2554765.7263e"
            ]
        ]
    },
    {
        "id": "729c4112.12774",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Heating",
        "group": "90f4399.fea5648",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "b2554765.7263e"
            ]
        ]
    },
    {
        "id": "cdd6179f.9eadc",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Ventilation",
        "group": "90f4399.fea5648",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "b2554765.7263e"
            ]
        ]
    },
    {
        "id": "ad9b256f.21d06",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "90f4399.fea5648",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 1480,
        "wires": [
            [
                "f00342b5.231fe"
            ]
        ]
    },
    {
        "id": "a7d5e0ae.95a37",
        "type": "function",
        "z": "d2f31f2e.76825",
        "name": "",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1480,
        "wires": [
            [
                "10780041.c0bc7"
            ]
        ]
    },
    {
        "id": "10780041.c0bc7",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3 status",
        "name": "Status",
        "x": 870,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "b2554765.7263e",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 420,
        "y": 1340,
        "wires": [
            [
                "3a0183.4e10267e"
            ]
        ]
    },
    {
        "id": "3a0183.4e10267e",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3",
        "name": "Action notification",
        "x": 690,
        "y": 1340,
        "wires": []
    },
    {
        "id": "761fe64.f703618",
        "type": "ui_gauge",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "4a22e179.bac6a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 2",
        "label": "",
        "format": "{{value}}째C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "a626bf68.2d5448",
        "type": "ui_gauge",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "90f4399.fea5648",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 3",
        "label": "",
        "format": "{{value}}째C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 660,
        "y": 1120,
        "wires": []
    },
    {
        "id": "df62895b.4038b",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 410,
        "y": 1980,
        "wires": [
            [
                "125b129a.e19715"
            ]
        ]
    },
    {
        "id": "41982436.a0cfb4",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Air conditioner",
        "group": "f664c1cd.59fb88",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 1780,
        "wires": [
            [
                "fd2624cc.689518"
            ]
        ]
    },
    {
        "id": "d0935bfd.a66a98",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Heating",
        "group": "f664c1cd.59fb88",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 1840,
        "wires": [
            [
                "fd2624cc.689518"
            ]
        ]
    },
    {
        "id": "54f7f218.c1a5bc",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "Ventilation",
        "group": "f664c1cd.59fb88",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 1900,
        "wires": [
            [
                "fd2624cc.689518"
            ]
        ]
    },
    {
        "id": "20d77eec.04a612",
        "type": "ui_button",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "f664c1cd.59fb88",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 1980,
        "wires": [
            [
                "df62895b.4038b"
            ]
        ]
    },
    {
        "id": "125b129a.e19715",
        "type": "function",
        "z": "d2f31f2e.76825",
        "name": "",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1980,
        "wires": [
            [
                "a60416bd.7707"
            ]
        ]
    },
    {
        "id": "a60416bd.7707",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3 status",
        "name": "Status",
        "x": 870,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "fd2624cc.689518",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 420,
        "y": 1840,
        "wires": [
            [
                "7b6f57a4.618ad8"
            ]
        ]
    },
    {
        "id": "7b6f57a4.618ad8",
        "type": "ui_toast",
        "z": "d2f31f2e.76825",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3",
        "name": "Action notification",
        "x": 690,
        "y": 1840,
        "wires": []
    },
    {
        "id": "1ec7fef2.1843a9",
        "type": "coap request",
        "z": "d2f31f2e.76825",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7405:5:505]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "b42e172d.d17ed8",
                "4eee6e94.e6a76"
            ]
        ]
    },
    {
        "id": "1f00c16a.5fe1c7",
        "type": "inject",
        "z": "d2f31f2e.76825",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 1620,
        "wires": [
            [
                "1ec7fef2.1843a9",
                "7d7070c4.75e178"
            ]
        ]
    },
    {
        "id": "b42e172d.d17ed8",
        "type": "ui_gauge",
        "z": "d2f31f2e.76825",
        "name": "",
        "group": "f664c1cd.59fb88",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 4",
        "label": "",
        "format": "{{value}}째C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 660,
        "y": 1620,
        "wires": []
    },
    {
        "id": "8c42f3ac.c769e8",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Reset room1Temp",
        "filename": "room1Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "368ccc70.02049c",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Append value to room1Temp",
        "filename": "room1Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce68620.7de3c",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Reset room2Temp",
        "filename": "room2Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 430,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f0672852.f27c48",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Append value to room2Temp",
        "filename": "room2Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 720,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ae1f9c31.3e5388",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Reset room3Temp",
        "filename": "room3Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 430,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "23ccd1b9.939f3e",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Append value to room3Temp",
        "filename": "room3Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 720,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7070c4.75e178",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Reset room4Temp",
        "filename": "room4Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 430,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "4eee6e94.e6a76",
        "type": "file",
        "z": "d2f31f2e.76825",
        "name": "Append value to room4Temp",
        "filename": "room4Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 720,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "f0c1b632.d8cf18",
        "type": "ui_group",
        "z": "",
        "name": "Mote1",
        "tab": "b48af62d.af356",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a22e179.bac6a8",
        "type": "ui_group",
        "z": "",
        "name": "Mote 2",
        "tab": "b48af62d.af356",
        "order": null,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "90f4399.fea5648",
        "type": "ui_group",
        "z": "",
        "name": "Mote 3",
        "tab": "b48af62d.af356",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f664c1cd.59fb88",
        "type": "ui_group",
        "z": "",
        "name": "Mote 4",
        "tab": "b48af62d.af356",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b48af62d.af356",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    }
]
