Source/node-redFlow
[
    {
        "id": "bf6c970a.dd57e",
        "type": "tab",
        "label": "Room1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c2888bee.4431e",
        "type": "tab",
        "label": "Room2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3ac47ca6.26207c",
        "type": "tab",
        "label": "Average",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a9a8a88.ca1ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "388861e7.9f48e6",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "8c48261c.37e358",
        "type": "ui_group",
        "z": "",
        "name": "Mote1",
        "tab": "388861e7.9f48e6",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbf9ec66.a310f8",
        "type": "coap request",
        "z": "bf6c970a.dd57e",
        "method": "",
        "observe": true,
        "url": "coap://[aaaa::212:7402:2:202]:5683/sensors/temp",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "e50e34ff.a40128",
                "2ba392ea.1ca766"
            ]
        ]
    },
    {
        "id": "1241b12.32ef14f",
        "type": "inject",
        "z": "bf6c970a.dd57e",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "fbf9ec66.a310f8",
                "56698672.7b059"
            ]
        ]
    },
    {
        "id": "826e1f08.613b58",
        "type": "inject",
        "z": "bf6c970a.dd57e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "6989a1c4.8dcdb"
            ]
        ]
    },
    {
        "id": "6989a1c4.8dcdb",
        "type": "coap request",
        "z": "bf6c970a.dd57e",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "6115e541.3dbb14"
            ]
        ]
    },
    {
        "id": "6115e541.3dbb14",
        "type": "debug",
        "z": "bf6c970a.dd57e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "fbd1fa0.ec73708",
        "type": "coap request",
        "z": "bf6c970a.dd57e",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "f54b241e.69cb6"
            ]
        ]
    },
    {
        "id": "f54b241e.69cb6",
        "type": "debug",
        "z": "bf6c970a.dd57e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "e50e34ff.a40128",
        "type": "ui_gauge",
        "z": "bf6c970a.dd57e",
        "name": "",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "f4fe433a.16bb7",
        "type": "ui_button",
        "z": "bf6c970a.dd57e",
        "name": "Air conditioner",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "fbd1fa0.ec73708"
            ]
        ]
    },
    {
        "id": "b18e8316.5f524",
        "type": "ui_button",
        "z": "bf6c970a.dd57e",
        "name": "Heating",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "fbd1fa0.ec73708"
            ]
        ]
    },
    {
        "id": "c72bd7c.3309ea8",
        "type": "ui_button",
        "z": "bf6c970a.dd57e",
        "name": "Ventilation",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "fbd1fa0.ec73708"
            ]
        ]
    },
    {
        "id": "2ba392ea.1ca766",
        "type": "file",
        "z": "bf6c970a.dd57e",
        "name": "",
        "filename": "room1Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 610,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "56698672.7b059",
        "type": "file",
        "z": "bf6c970a.dd57e",
        "name": "",
        "filename": "room1Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d515a35e.fab35",
        "type": "inject",
        "z": "3ac47ca6.26207c",
        "name": "Average inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "667d8ca2.76e02c",
                "3a581533.53b842"
            ]
        ]
    },
    {
        "id": "667d8ca2.76e02c",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room1Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "67bec4ae.07ff3c",
                "fc8e0450.edbeb8"
            ]
        ]
    },
    {
        "id": "8ebc45c6.839868",
        "type": "function",
        "z": "3ac47ca6.26207c",
        "name": "RoomAvg",
        "func": "var num = msg.payload.split(\"\\n\");\nvar avg = 0;\n\nfor(var i = 0; i < num.length - 1; i++)\n{\n    avg += parseInt(num[i]);\n}\nmsg.payload = avg/(num.length - 1);\n\nvar newMsg = {payload: parseInt(num[num.length - 2])};\nreturn [msg, newMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "2b3add72.fb16e2"
            ],
            [
                "226d1d88.606262"
            ]
        ]
    },
    {
        "id": "2b3add72.fb16e2",
        "type": "ui_chart",
        "z": "3ac47ca6.26207c",
        "name": "",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1010,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a581533.53b842",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room2Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "1da90ca2.3c53eb",
                "fb73e92f.20928"
            ]
        ]
    },
    {
        "id": "f8250a3.3e56378",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room3Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "410cc3f8.06f064",
                "70dd9a3a.6548c4"
            ]
        ]
    },
    {
        "id": "4a898dfb.e229b4",
        "type": "file in",
        "z": "3ac47ca6.26207c",
        "name": "",
        "filename": "room4Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "bdc11114.4ca17",
                "eeaed5dd.caa7b8"
            ]
        ]
    },
    {
        "id": "1da90ca2.3c53eb",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room2 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "8ebc45c6.839868",
                "5cabd20a.56536c"
            ]
        ]
    },
    {
        "id": "67bec4ae.07ff3c",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "room1 Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "8ebc45c6.839868",
                "5cabd20a.56536c"
            ]
        ]
    },
    {
        "id": "410cc3f8.06f064",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc11114.4ca17",
        "type": "change",
        "z": "3ac47ca6.26207c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "room2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f9b6a4de.47f498",
        "type": "comment",
        "z": "3ac47ca6.26207c",
        "name": "MQTT IN QUESTA ZONA",
        "info": "",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "226d1d88.606262",
        "type": "function",
        "z": "3ac47ca6.26207c",
        "name": "HomeAvg",
        "func": "var count   = context.get('count') || 0;\nvar sum     = context.get('sum') || 0;\n\nsum += msg.payload;\n\nif(++count == 2) //Change based on motes\n{\n    context.set('count', 0);\n    context.set('sum', 0);\n    msg.payload = sum / 2;\n    msg.topic = \"HomeAvg\";\n    return msg;\n}\nelse\n{\n    context.set('count', count);\n    context.set('sum', sum);\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "5287c9fd.20b428"
            ]
        ]
    },
    {
        "id": "5287c9fd.20b428",
        "type": "switch",
        "z": "3ac47ca6.26207c",
        "name": "NOT NULL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "15bc82a7.092985"
            ]
        ]
    },
    {
        "id": "fc8e0450.edbeb8",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room1Temp",
        "filename": "room1Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fb73e92f.20928",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room2Temp",
        "filename": "room2Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "70dd9a3a.6548c4",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room3Temp",
        "filename": "room3Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "eeaed5dd.caa7b8",
        "type": "file",
        "z": "3ac47ca6.26207c",
        "name": "Reset room4Temp",
        "filename": "room4Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "15bc82a7.092985",
        "type": "debug",
        "z": "3ac47ca6.26207c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "53bdba84.97d3f4",
        "type": "coap request",
        "z": "c2888bee.4431e",
        "method": "",
        "observe": true,
        "url": "coap://[aaaa::212:7403:3:303]:5683/sensors/temp",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "32f937f2.f2ec6"
            ]
        ]
    },
    {
        "id": "958ae7bc.9e65a8",
        "type": "inject",
        "z": "c2888bee.4431e",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "53bdba84.97d3f4",
                "28f3837e.1adf3c"
            ]
        ]
    },
    {
        "id": "32f937f2.f2ec6",
        "type": "file",
        "z": "c2888bee.4431e",
        "name": "",
        "filename": "room2Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "28f3837e.1adf3c",
        "type": "file",
        "z": "c2888bee.4431e",
        "name": "",
        "filename": "room2Temp",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 390,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5cabd20a.56536c",
        "type": "debug",
        "z": "3ac47ca6.26207c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "9cdce774.887988",
        "type": "catch",
        "z": "3ac47ca6.26207c",
        "name": "",
        "scope": [
            "667d8ca2.76e02c",
            "3a581533.53b842",
            "f8250a3.3e56378",
            "4a898dfb.e229b4"
        ],
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    }
]
