Source/node-red-dashboard.json
[
    {
        "id": "9b70f5a9.df30e",
        "type": "tab",
        "label": "Average",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43474f.080cd0b",
        "type": "tab",
        "label": "Room1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d8902723.e69f98",
        "type": "tab",
        "label": "Room2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fdef468.f476d38",
        "type": "tab",
        "label": "Room3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1be7f76b.adffe9",
        "type": "tab",
        "label": "Room4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c684704d.a58f18",
        "type": "tab",
        "label": "House",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f036ae8.44e868",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6f2fa47.2ea918",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "97434466.0266a8",
        "type": "subflow",
        "name": "Subflow 1 (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "8a9a8a88.ca1ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0cc21a",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4b7930",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Smart thermostat",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9df99f44.89c748",
        "type": "mqtt-broker",
        "z": "",
        "name": "thingspeak-subscribe",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3db35204.4b7846",
        "type": "ui_group",
        "z": "",
        "name": "AverageHome",
        "tab": "",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "6c9f032d.7d6c34",
        "type": "mqtt-broker",
        "z": "",
        "name": "thingspeak-publish",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "704d7d3e.1d38ac",
        "type": "ui_group",
        "z": "",
        "name": "Mote1",
        "tab": "6d1cefd3.b5bad8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf81a3d0.12846",
        "type": "ui_group",
        "z": "",
        "name": "Mote 2",
        "tab": "6d1cefd3.b5bad8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "40e6e69f.8c3cf8",
        "type": "ui_group",
        "z": "",
        "name": "Mote 3",
        "tab": "6d1cefd3.b5bad8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35c8ba03.b2c2b6",
        "type": "ui_group",
        "z": "",
        "name": "Mote 4",
        "tab": "6d1cefd3.b5bad8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d1cefd3.b5bad8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "fa-thermometer-half",
        "order": 1
    },
    {
        "id": "39678745.d49fd",
        "type": "ui_group",
        "z": "",
        "name": "House",
        "tab": "6d1cefd3.b5bad8",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f4f8e816.f1dbd",
        "type": "ui_group",
        "z": "",
        "name": "Room 1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e28b2874.9f7cd",
        "type": "ui_group",
        "z": "",
        "name": "Room 2",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f1bb043f.adf3d",
        "type": "ui_group",
        "z": "",
        "name": "Room 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12aedeaa.feb189",
        "type": "ui_group",
        "z": "",
        "name": "Room 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2a72532d.e60364",
        "type": "ui_group",
        "z": "",
        "name": "House",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9d642bc.05f97",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "fa-cogs",
        "order": 3
    },
    {
        "id": "6160c2c2.44df2c",
        "type": "ui_group",
        "z": "",
        "name": "Room 1 alert",
        "tab": "a9d642bc.05f97",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "b86c27e4.2dc43",
        "type": "ui_group",
        "z": "",
        "name": "Email",
        "tab": "a9d642bc.05f97",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "305ee3f7.392b1c",
        "type": "ui_group",
        "z": "",
        "name": "Room 2 alert",
        "tab": "a9d642bc.05f97",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "deb74e0f.688798",
        "type": "ui_group",
        "z": "",
        "name": "Room 3 alert",
        "tab": "a9d642bc.05f97",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "754e3bcd.e553fc",
        "type": "ui_group",
        "z": "",
        "name": "Room 4 alert",
        "tab": "a9d642bc.05f97",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "23d99995.12cdbe",
        "type": "ui_group",
        "z": "",
        "name": "House alert",
        "tab": "a9d642bc.05f97",
        "order": 6,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "40d8bc5f.9bc6e4",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "497209bf.777768",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "1cb364fc.e4456b",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1cb364fc.e4456b",
        "type": "ui_tab",
        "z": "",
        "name": "Start",
        "icon": "dashboard"
    },
    {
        "id": "5caf4fb7.e6d3f8",
        "type": "mqtt out",
        "z": "9b70f5a9.df30e",
        "name": "Publish room avg",
        "topic": "channels/842037/publish/13FUQ1PG98XWMZ5E",
        "qos": "0",
        "retain": "false",
        "broker": "6c9f032d.7d6c34",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "4dace095.bb1318",
        "type": "mqtt in",
        "z": "9b70f5a9.df30e",
        "name": "",
        "topic": "channels/842037/subscribe/json/ZZ9GTFUH52EE9VY1",
        "qos": "0",
        "broker": "9df99f44.89c748",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "448a2d69.3ffe34"
            ]
        ]
    },
    {
        "id": "569e759b.f30094",
        "type": "coap request",
        "z": "43474f.080cd0b",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7402:2:202]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "3c4fe8af.ca472",
                "17722767.9387b1"
            ]
        ]
    },
    {
        "id": "fc5776df.833c2",
        "type": "inject",
        "z": "43474f.080cd0b",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "569e759b.f30094",
                "3f704b66.3bba4c"
            ]
        ]
    },
    {
        "id": "166eaad8.979b75",
        "type": "coap request",
        "z": "43474f.080cd0b",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 750,
        "y": 580,
        "wires": [
            [
                "d380908f.210a08"
            ]
        ]
    },
    {
        "id": "3c4fe8af.ca472",
        "type": "ui_gauge",
        "z": "43474f.080cd0b",
        "name": "",
        "group": "704d7d3e.1d38ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 1",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "dba9a5ef.86e0a8",
        "type": "ui_button",
        "z": "43474f.080cd0b",
        "name": "Air conditioner",
        "group": "704d7d3e.1d38ac",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-snowflake-o",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "1ede298c.329e3e"
            ]
        ]
    },
    {
        "id": "fafbe889.6fbad",
        "type": "ui_button",
        "z": "43474f.080cd0b",
        "name": "Heating",
        "group": "704d7d3e.1d38ac",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-fire",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "1ede298c.329e3e"
            ]
        ]
    },
    {
        "id": "22097a0c.8ca426",
        "type": "ui_button",
        "z": "43474f.080cd0b",
        "name": "Ventilation",
        "group": "704d7d3e.1d38ac",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-refresh",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "1ede298c.329e3e"
            ]
        ]
    },
    {
        "id": "7692d552.a2fd34",
        "type": "ui_button",
        "z": "43474f.080cd0b",
        "name": "",
        "group": "704d7d3e.1d38ac",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "166eaad8.979b75"
            ]
        ]
    },
    {
        "id": "d380908f.210a08",
        "type": "function",
        "z": "43474f.080cd0b",
        "name": "status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "2476bcb7.a7f47c"
            ]
        ]
    },
    {
        "id": "2476bcb7.a7f47c",
        "type": "ui_toast",
        "z": "43474f.080cd0b",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 1 status",
        "name": "Status",
        "x": 1250,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1ede298c.329e3e",
        "type": "coap request",
        "z": "43474f.080cd0b",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "9638dd20.c19dd"
            ]
        ]
    },
    {
        "id": "5b3e985a.d65dd",
        "type": "ui_toast",
        "z": "43474f.080cd0b",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 1",
        "name": "Action notification",
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e5c7bff.7cd754",
        "type": "inject",
        "z": "c684704d.a58f18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "782b172.12792e8"
            ]
        ]
    },
    {
        "id": "782b172.12792e8",
        "type": "function",
        "z": "c684704d.a58f18",
        "name": "Average",
        "func": "var house=global.get(\"House\");\nvar temp1=global.get(\"Room1\");\nvar temp2=global.get(\"Room2\");\nvar temp3=global.get(\"Room3\");\nvar temp4=global.get(\"Room4\");\n\nvar avg=(temp1[temp1.length-1]+temp2[temp2.length-1]+temp3[temp3.length-1]+temp4[temp4.length-1])/4;\nif (!Number.isNaN(avg))\n{   house.push(avg);\n    msg.payload=avg;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "26c368aa.28149"
            ]
        ]
    },
    {
        "id": "c9da199a.5bec88",
        "type": "coap request",
        "z": "d8902723.e69f98",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7403:3:303]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "9e7ccbbd.bd697",
                "66002506.ccaff4"
            ]
        ]
    },
    {
        "id": "fd683782.bc15",
        "type": "inject",
        "z": "d8902723.e69f98",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "c9da199a.5bec88",
                "6b3de308.fdc7d4"
            ]
        ]
    },
    {
        "id": "486222e2.0599b4",
        "type": "coap request",
        "z": "d8902723.e69f98",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "4ed2fae2.8dc584"
            ]
        ]
    },
    {
        "id": "bfd880f3.953918",
        "type": "ui_button",
        "z": "d8902723.e69f98",
        "name": "Air conditioner",
        "group": "bf81a3d0.12846",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-snowflake-o",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "c4025133.6a1b28"
            ]
        ]
    },
    {
        "id": "7e0a3b74.3a2d6c",
        "type": "ui_button",
        "z": "d8902723.e69f98",
        "name": "Heating",
        "group": "bf81a3d0.12846",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-fire",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "c4025133.6a1b28"
            ]
        ]
    },
    {
        "id": "b561374e.78ea5",
        "type": "ui_button",
        "z": "d8902723.e69f98",
        "name": "Ventilation",
        "group": "bf81a3d0.12846",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-refresh",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "c4025133.6a1b28"
            ]
        ]
    },
    {
        "id": "3001e1b6.b048a6",
        "type": "ui_button",
        "z": "d8902723.e69f98",
        "name": "",
        "group": "bf81a3d0.12846",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "486222e2.0599b4"
            ]
        ]
    },
    {
        "id": "4ed2fae2.8dc584",
        "type": "function",
        "z": "d8902723.e69f98",
        "name": "status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "e9424364.e0f7b8"
            ]
        ]
    },
    {
        "id": "e9424364.e0f7b8",
        "type": "ui_toast",
        "z": "d8902723.e69f98",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 2 status",
        "name": "Status",
        "x": 1230,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c4025133.6a1b28",
        "type": "coap request",
        "z": "d8902723.e69f98",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 780,
        "y": 340,
        "wires": [
            [
                "2fa86b99.75e1e4"
            ]
        ]
    },
    {
        "id": "1396e7aa.b8a93",
        "type": "ui_toast",
        "z": "d8902723.e69f98",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 2",
        "name": "Action notification",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e7ccbbd.bd697",
        "type": "ui_gauge",
        "z": "d8902723.e69f98",
        "name": "",
        "group": "bf81a3d0.12846",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 2",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "df4d9a1c.2c9be8",
        "type": "coap request",
        "z": "fdef468.f476d38",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7404:4:404]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "9612e424.b73208",
                "f0d0ad3d.9cdb9"
            ]
        ]
    },
    {
        "id": "96ea59d2.ddc3c",
        "type": "inject",
        "z": "fdef468.f476d38",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "df4d9a1c.2c9be8",
                "fd016cb0.7779e8"
            ]
        ]
    },
    {
        "id": "4d83c04d.edc218",
        "type": "coap request",
        "z": "fdef468.f476d38",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "5f5a1e2.2a19f6"
            ]
        ]
    },
    {
        "id": "2580cb03.cbf8e4",
        "type": "ui_button",
        "z": "fdef468.f476d38",
        "name": "Air conditioner",
        "group": "40e6e69f.8c3cf8",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-snowflake-o",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "2ff888b5.0ae4c8"
            ]
        ]
    },
    {
        "id": "5696e3a9.78a54c",
        "type": "ui_button",
        "z": "fdef468.f476d38",
        "name": "Heating",
        "group": "40e6e69f.8c3cf8",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-fire",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "2ff888b5.0ae4c8"
            ]
        ]
    },
    {
        "id": "4516f90b.51f45",
        "type": "ui_button",
        "z": "fdef468.f476d38",
        "name": "Ventilation",
        "group": "40e6e69f.8c3cf8",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-refresh",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "2ff888b5.0ae4c8"
            ]
        ]
    },
    {
        "id": "406e579a.88c13",
        "type": "ui_button",
        "z": "fdef468.f476d38",
        "name": "",
        "group": "40e6e69f.8c3cf8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "4d83c04d.edc218"
            ]
        ]
    },
    {
        "id": "5f5a1e2.2a19f6",
        "type": "function",
        "z": "fdef468.f476d38",
        "name": "status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "2b393550.aebc22"
            ]
        ]
    },
    {
        "id": "2b393550.aebc22",
        "type": "ui_toast",
        "z": "fdef468.f476d38",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3 status",
        "name": "Status",
        "x": 1290,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff888b5.0ae4c8",
        "type": "coap request",
        "z": "fdef468.f476d38",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "fdc08f25.13ef48"
            ]
        ]
    },
    {
        "id": "53debd26.6982ac",
        "type": "ui_toast",
        "z": "fdef468.f476d38",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3",
        "name": "Action notification",
        "x": 1330,
        "y": 320,
        "wires": []
    },
    {
        "id": "9612e424.b73208",
        "type": "ui_gauge",
        "z": "fdef468.f476d38",
        "name": "",
        "group": "40e6e69f.8c3cf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 3",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "780f410b.4e44",
        "type": "coap request",
        "z": "1be7f76b.adffe9",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 950,
        "y": 500,
        "wires": [
            [
                "71356053.67b4d8"
            ]
        ]
    },
    {
        "id": "79b345a2.d31734",
        "type": "ui_button",
        "z": "1be7f76b.adffe9",
        "name": "Air conditioner",
        "group": "35c8ba03.b2c2b6",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-snowflake-o",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "dcb6a5a8.2bb0a8"
            ]
        ]
    },
    {
        "id": "2c3dab05.8dcc04",
        "type": "ui_button",
        "z": "1be7f76b.adffe9",
        "name": "Heating",
        "group": "35c8ba03.b2c2b6",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-fire",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "dcb6a5a8.2bb0a8"
            ]
        ]
    },
    {
        "id": "15a72504.44af0b",
        "type": "ui_button",
        "z": "1be7f76b.adffe9",
        "name": "Ventilation",
        "group": "35c8ba03.b2c2b6",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "fa-3x fa-refresh",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "dcb6a5a8.2bb0a8"
            ]
        ]
    },
    {
        "id": "8da245f1.5d8db",
        "type": "ui_button",
        "z": "1be7f76b.adffe9",
        "name": "",
        "group": "35c8ba03.b2c2b6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Room status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "780f410b.4e44"
            ]
        ]
    },
    {
        "id": "71356053.67b4d8",
        "type": "function",
        "z": "1be7f76b.adffe9",
        "name": "status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation;\nmsg.payload=\"Air conditioner: \";\nif(conditioning)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Heating: \";\nif(heating)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\nmsg.payload=msg.payload+\"Ventilation: \";\nif(ventilation)\n    msg.payload=msg.payload + \"ON \";\nelse\n    msg.payload=msg.payload + \"OFF \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1220,
        "y": 500,
        "wires": [
            [
                "f6684cfb.4d2c4"
            ]
        ]
    },
    {
        "id": "f6684cfb.4d2c4",
        "type": "ui_toast",
        "z": "1be7f76b.adffe9",
        "position": "dialog",
        "displayTime": "4",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3 status",
        "name": "Status",
        "x": 1410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "dcb6a5a8.2bb0a8",
        "type": "coap request",
        "z": "1be7f76b.adffe9",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 960,
        "y": 360,
        "wires": [
            [
                "f1902b65.ab7"
            ]
        ]
    },
    {
        "id": "27b9fb2a.6eb9cc",
        "type": "ui_toast",
        "z": "1be7f76b.adffe9",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3",
        "name": "Action notification",
        "x": 1430,
        "y": 320,
        "wires": []
    },
    {
        "id": "264f31b9.40f74e",
        "type": "coap request",
        "z": "1be7f76b.adffe9",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7405:5:505]:5683/sensors/temp",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "1587e52d.56f673",
                "770cd347.ab2c2c"
            ]
        ]
    },
    {
        "id": "a6c012c4.d570e",
        "type": "inject",
        "z": "1be7f76b.adffe9",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "264f31b9.40f74e",
                "cbe6661a.00a9c"
            ]
        ]
    },
    {
        "id": "1587e52d.56f673",
        "type": "ui_gauge",
        "z": "1be7f76b.adffe9",
        "name": "",
        "group": "35c8ba03.b2c2b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 4",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "669c76d3.17ea08",
        "type": "inject",
        "z": "8f036ae8.44e868",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "fcca09b4.0f86d"
            ]
        ]
    },
    {
        "id": "fcca09b4.0f86d",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "Create global variables",
        "func": "global.set(\"Room1\",[]);\nglobal.set(\"Room2\",[]);\nglobal.set(\"Room3\",[]);\nglobal.set(\"Room4\",[]);\nglobal.set(\"House\",[]);\nglobal.set(\"Email\",null);\nglobal.set(\"alert_room1_enabled\",false);\nglobal.set(\"alert_room1_high\",0);\nglobal.set(\"alert_room1_low\",0);\nglobal.set(\"alert_room2_enabled\",false);\nglobal.set(\"alert_room2_high\",0);\nglobal.set(\"alert_room2_low\",0);\nglobal.set(\"alert_room3_enabled\",false);\nglobal.set(\"alert_room3_high\",0);\nglobal.set(\"alert_room3_low\",0);\nglobal.set(\"alert_room4_enabled\",false);\nglobal.set(\"alert_room4_high\",0);\nglobal.set(\"alert_room4_low\",0);\nglobal.set(\"alert_house_enabled\",false);\nglobal.set(\"alert_house_high\",0);\nglobal.set(\"alert_house_low\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "17722767.9387b1",
        "type": "function",
        "z": "43474f.080cd0b",
        "name": "Store temperature",
        "func": "var temp=global.get(\"Room1\");\ntemp.push(parseInt(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "66002506.ccaff4",
        "type": "function",
        "z": "d8902723.e69f98",
        "name": "Store temperature",
        "func": "var temp=global.get(\"Room2\");\ntemp.push(parseInt(msg.payload));\nmsg.payload=temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d0ad3d.9cdb9",
        "type": "function",
        "z": "fdef468.f476d38",
        "name": "Store temperature",
        "func": "var temp=global.get(\"Room3\");\ntemp.push(parseInt(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "770cd347.ab2c2c",
        "type": "function",
        "z": "1be7f76b.adffe9",
        "name": "Store temperature",
        "func": "var temp=global.get(\"Room4\");\ntemp.push(parseInt(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "26c368aa.28149",
        "type": "ui_gauge",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 1,
        "width": "4",
        "height": "5",
        "gtype": "gage",
        "title": "House average",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "50",
        "colors": [
            "#0917ff",
            "#00ff0e",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "65ad7e4.a389a",
        "type": "inject",
        "z": "9b70f5a9.df30e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "d9d498e8.2e581"
            ]
        ]
    },
    {
        "id": "d9d498e8.2e581",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Compute all the avg temp",
        "func": "var temp1_array=global.get(\"Room1\");\nvar temp2_array=global.get(\"Room2\");\nvar temp3_array=global.get(\"Room3\");\nvar temp4_array=global.get(\"Room4\");\nvar house_array=global.get(\"House\");\nvar consistent_data=1;\nvar avg_1=0;\nfor(i=0;i<temp1_array.length;i++)\n{\n    avg_1=avg_1+temp1_array[i];\n}\navg_1= avg_1/temp1_array.length;\ntemp1_array.length=0;\n\nvar avg_2=0;\nfor(i=0;i<temp2_array.length;i++)\n{\n    avg_2=avg_2+temp2_array[i];\n}\navg_2= avg_2/temp2_array.length;\ntemp2_array.length=0;\n\nvar avg_3=0;\nfor(i=0;i<temp3_array.length;i++)\n{\n    avg_3=avg_3+temp3_array[i];\n}\navg_3= avg_3/temp3_array.length;\ntemp3_array.length=0;\n\nvar avg_4=0;\nfor(i=0;i<temp4_array.length;i++)\n{\n    avg_4=avg_4+temp4_array[i];\n}\navg_4= avg_4/temp4_array.length;\ntemp4_array.length=0;\n\nvar avg_house=0;\nfor(i=0;i<house_array.length;i++)\n{\n    avg_house=avg_house+house_array[i];\n}\navg_house= avg_house/house_array.length;\nhouse_array.length=0;\nif(isNaN(avg_1) || isNaN(avg_2) ||isNaN(avg_3) ||isNaN(avg_4) )\n{\n    consistent_data=0;\n}\nmsg={success:consistent_data,payload:avg_house};\n\nvar room_msg={success:consistent_data, payload:\"field1=\"+avg_1+\"&field2=\"+avg_2+\"&field3=\"+avg_3+\"&field4=\"+avg_4};\nreturn [msg,room_msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 460,
        "y": 700,
        "wires": [
            [
                "246e5b41.a3d064"
            ],
            [
                "24d9da23.919096"
            ]
        ]
    },
    {
        "id": "4c636299.5d07ec",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "splitter",
        "func": "var msg1;\nvar msg2;\nvar msg3;\nvar msg4;\nvar field1=parseInt(msg.payload.field1);\nvar field2=parseInt(msg.payload.field2);\nvar field3=parseInt(msg.payload.field3);\nvar field4=parseInt(msg.payload.field4);\nmsg1={payload:field1};\nmsg2={payload:field2};\nmsg3={payload:field3};\nmsg4={payload:field4};\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "2a81e4ab.39008c",
                "a0907dda.5f4a"
            ],
            [
                "bfae18df.ed22f",
                "7de49ad7.a07d7c"
            ],
            [
                "ed8e6eeb.21b118",
                "9b52d8a2.3a199"
            ],
            [
                "3787bf24.0c8d8",
                "c9060872.443cb"
            ]
        ]
    },
    {
        "id": "2a81e4ab.39008c",
        "type": "ui_chart",
        "z": "9b70f5a9.df30e",
        "name": "",
        "group": "704d7d3e.1d38ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 850,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bfae18df.ed22f",
        "type": "ui_chart",
        "z": "9b70f5a9.df30e",
        "name": "",
        "group": "bf81a3d0.12846",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 870,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ed8e6eeb.21b118",
        "type": "ui_chart",
        "z": "9b70f5a9.df30e",
        "name": "",
        "group": "40e6e69f.8c3cf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 910,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3787bf24.0c8d8",
        "type": "ui_chart",
        "z": "9b70f5a9.df30e",
        "name": "",
        "group": "35c8ba03.b2c2b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 910,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "448a2d69.3ffe34",
        "type": "json",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "4c636299.5d07ec"
            ]
        ]
    },
    {
        "id": "414769d5.c4eb18",
        "type": "mqtt out",
        "z": "9b70f5a9.df30e",
        "name": "Publish house avg",
        "topic": "channels/842006/publish/fields/field1/VQK31CLNOHDJKKJI",
        "qos": "0",
        "retain": "false",
        "broker": "6c9f032d.7d6c34",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "7eb08c39.23bb24",
        "type": "ui_chart",
        "z": "9b70f5a9.df30e",
        "name": "",
        "group": "39678745.d49fd",
        "order": 2,
        "width": "4",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 880,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "726dc8fb.633928",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "Form room 1",
        "label": "",
        "group": "6160c2c2.44df2c",
        "order": 0,
        "width": "5",
        "height": "2",
        "options": [
            {
                "label": "Low treshold",
                "value": "l_tresh",
                "type": "number",
                "required": true
            },
            {
                "label": "High treshold",
                "value": "h_tresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "l_tresh": "",
            "h_tresh": ""
        },
        "payload": "",
        "submit": "create alert",
        "cancel": "cancel",
        "topic": "1",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "d773145.04d4de8"
            ]
        ]
    },
    {
        "id": "8b7dd466.b96bf8",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Air Conditioner ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=3",
        "payloadType": "str",
        "topic": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "a22dc35a.af9c98",
                "70779f33.755928",
                "7c7a6563.7b970c",
                "3b542027.2dbbe8"
            ]
        ]
    },
    {
        "id": "8f27461d.d5c238",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Air Conditioner OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=4",
        "payloadType": "str",
        "topic": "",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "a22dc35a.af9c98",
                "70779f33.755928",
                "7c7a6563.7b970c",
                "3b542027.2dbbe8"
            ]
        ]
    },
    {
        "id": "49280f14.b564c",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heater ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=5",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "a22dc35a.af9c98",
                "70779f33.755928",
                "7c7a6563.7b970c",
                "3b542027.2dbbe8"
            ]
        ]
    },
    {
        "id": "e2cd1546.3f83a8",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heater OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=6",
        "payloadType": "str",
        "topic": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "70779f33.755928",
                "a22dc35a.af9c98",
                "7c7a6563.7b970c",
                "3b542027.2dbbe8"
            ]
        ]
    },
    {
        "id": "14e9a226.6cf06e",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ventilation ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=7",
        "payloadType": "str",
        "topic": "",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "3b542027.2dbbe8",
                "7c7a6563.7b970c",
                "70779f33.755928",
                "a22dc35a.af9c98"
            ]
        ]
    },
    {
        "id": "90db7bf9.dde6c8",
        "type": "ui_button",
        "z": "c684704d.a58f18",
        "name": "",
        "group": "39678745.d49fd",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ventilation OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=8",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "a22dc35a.af9c98",
                "70779f33.755928",
                "7c7a6563.7b970c",
                "3b542027.2dbbe8"
            ]
        ]
    },
    {
        "id": "341b3e24.a3eb5a",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "",
        "label": "Email address for allert",
        "group": "b86c27e4.2dc43",
        "order": 1,
        "width": "9",
        "height": "1",
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "Set email",
        "cancel": "cancel",
        "topic": "",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "7f33a676.522698"
            ]
        ]
    },
    {
        "id": "7f33a676.522698",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "set email",
        "func": "var chosen_email=msg.payload.email;\n\nglobal.set(\"Email\",chosen_email);\n\nmsg.payload=\"Address \"+chosen_email+\" correctly setted\";\nvar newmsg={payload:chosen_email};\nreturn [msg,newmsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "a572d9ed.b27fd8"
            ],
            [
                "f02cd4d3.2f1de8"
            ]
        ]
    },
    {
        "id": "de9dda39.4ecce",
        "type": "ui_toast",
        "z": "8f036ae8.44e868",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f57d8c.e5c50a8",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "Form room 3",
        "label": "",
        "group": "deb74e0f.688798",
        "order": 1,
        "width": "5",
        "height": "2",
        "options": [
            {
                "label": "Low treshold",
                "value": "l_tresh",
                "type": "number",
                "required": true
            },
            {
                "label": "High treshold",
                "value": "h_tresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "l_tresh": "",
            "h_tresh": ""
        },
        "payload": "",
        "submit": "create alert",
        "cancel": "cancel",
        "topic": "3",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "d773145.04d4de8"
            ]
        ]
    },
    {
        "id": "189bb9c7.394206",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "Form room 2",
        "label": "",
        "group": "305ee3f7.392b1c",
        "order": 1,
        "width": "5",
        "height": "2",
        "options": [
            {
                "label": "Low treshold",
                "value": "l_tresh",
                "type": "number",
                "required": true
            },
            {
                "label": "High treshold",
                "value": "h_tresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "l_tresh": "",
            "h_tresh": ""
        },
        "payload": "",
        "submit": "create alert",
        "cancel": "cancel",
        "topic": "2",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "d773145.04d4de8"
            ]
        ]
    },
    {
        "id": "16c05ddc.762cca",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "Form room 4",
        "label": "",
        "group": "754e3bcd.e553fc",
        "order": 1,
        "width": "5",
        "height": "2",
        "options": [
            {
                "label": "Low treshold",
                "value": "l_tresh",
                "type": "number",
                "required": true
            },
            {
                "label": "High treshold",
                "value": "h_tresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "l_tresh": "",
            "h_tresh": ""
        },
        "payload": "",
        "submit": "create alert",
        "cancel": "cancel",
        "topic": "4",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "d773145.04d4de8"
            ]
        ]
    },
    {
        "id": "470d628b.0d1adc",
        "type": "ui_form",
        "z": "8f036ae8.44e868",
        "name": "House",
        "label": "",
        "group": "23d99995.12cdbe",
        "order": 1,
        "width": "5",
        "height": "2",
        "options": [
            {
                "label": "Low treshold",
                "value": "l_tresh",
                "type": "number",
                "required": true
            },
            {
                "label": "High treshold",
                "value": "h_tresh",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "l_tresh": "",
            "h_tresh": ""
        },
        "payload": "",
        "submit": "create alert",
        "cancel": "cancel",
        "topic": "5",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "d773145.04d4de8"
            ]
        ]
    },
    {
        "id": "678ae7a.6226518",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Trigger email",
        "func": "var alert_sent_low=flow.get(\"alert_sent_house_low\");\nvar alert_sent_high=flow.get(\"alert_sent_house_high\");\nvar alert_enabled=global.get(\"alert_house_enabled\");\nvar low=global.get(\"alert_house_low\");\nvar high=global.get(\"alert_house_high\");\nvar temp=parseInt(msg.payload);\n\nmsg.payload={send:0,temperature:temp};\nif(alert_enabled)\n{\n  if(temp<low || temp>high) \n  {\n    if((!alert_sent_low && temp<low) || (!alert_sent_high && temp>high) )\n     {   msg.payload={send:1,temperature:temp};\n            \n        if(temp<low)\n        {\n            alert_sent_low=true;\n            alert_sent_high=false;\n        }\n        if(temp>high)\n        {\n             alert_sent_low=false;\n            alert_sent_high=true;\n        }\n     }\n  }\n  else\n    {\n        \n        alert_sent_low=false;\n            alert_sent_high=false;\n    }\n}\nelse\n{\n    alert_sent_low=false;\n            alert_sent_high=false;\n}\nflow.set(\"alert_sent_house_low\",alert_sent_low);\nflow.set(\"alert_sent_house_high\",alert_sent_high);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "ba6ef138.63986"
            ]
        ]
    },
    {
        "id": "ba6ef138.63986",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1300,
        "y": 600,
        "wires": [
            [
                "6d0b1f31.c935a8",
                "65b8b9f8.2c362"
            ]
        ]
    },
    {
        "id": "6d0b1f31.c935a8",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "email composition",
        "func": "msg.payload=\"House average temperature is \"+msg.payload.temperature+\"°C\";\nmsg.to=global.get(\"Email\");\nmsg.topic=\"Smart thermostat allert: House\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1470,
        "y": 660,
        "wires": [
            [
                "ec787195.87ea"
            ]
        ]
    },
    {
        "id": "ec787195.87ea",
        "type": "e-mail",
        "z": "9b70f5a9.df30e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "",
        "dname": "",
        "x": 1630,
        "y": 320,
        "wires": []
    },
    {
        "id": "76112c6f.525d8c",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "flow variable ",
        "func": "flow.set(\"alert_sent_room1_low\",false);\nflow.set(\"alert_sent_room2_low\",false);\nflow.set(\"alert_sent_room3_low\",false);\nflow.set(\"alert_sent_room4_low\",false);\nflow.set(\"alert_sent_house_low\",false);\nflow.set(\"alert_sent_room1_high\",false);\nflow.set(\"alert_sent_room2_high\",false);\nflow.set(\"alert_sent_room3_high\",false);\nflow.set(\"alert_sent_room4_high\",false);\nflow.set(\"alert_sent_house_high\",false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2a8de781.409c68",
        "type": "inject",
        "z": "9b70f5a9.df30e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "76112c6f.525d8c"
            ]
        ]
    },
    {
        "id": "a0907dda.5f4a",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Trigger email",
        "func": "var alert_sent_low=flow.get(\"alert_sent_room1_low\");\nvar alert_sent_high=flow.get(\"alert_sent_room1_high\");\nvar alert_enabled=global.get(\"alert_room1_enabled\");\nvar low=global.get(\"alert_room1_low\");\nvar high=global.get(\"alert_room1_high\");\nvar temp=parseInt(msg.payload);\n\nmsg.payload={send:0,temperature:temp};\nif(alert_enabled)\n{\n  if(temp<low || temp>high) \n  {\n    if((!alert_sent_low && temp<low) || (!alert_sent_high && temp>high) )\n     {   msg.payload={send:1,temperature:temp};\n            \n        if(temp<low)\n        {\n            alert_sent_low=true;\n            alert_sent_high=false;\n        }\n        if(temp>high)\n        {\n             alert_sent_low=false;\n            alert_sent_high=true;\n        }\n     }\n  }\n  else\n    {\n        \n        alert_sent_low=false;\n            alert_sent_high=false;\n    }\n}\nelse\n{\n    alert_sent_low=false;\n            alert_sent_high=false;\n}\nflow.set(\"alert_sent_room1_low\",alert_sent_low);\nflow.set(\"alert_sent_room1_high\",alert_sent_high);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 120,
        "wires": [
            [
                "809ab7c0.715778"
            ]
        ]
    },
    {
        "id": "809ab7c0.715778",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "673f2201.d6dd2c",
                "7c3a5379.404c04"
            ]
        ]
    },
    {
        "id": "673f2201.d6dd2c",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "email composition",
        "func": "msg.payload=\"Room 1 temperature is \"+msg.payload.temperature+\"°C\";\nmsg.to=global.get(\"Email\");\nmsg.topic=\"Smart thermostat alert: Room 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "ec787195.87ea"
            ]
        ]
    },
    {
        "id": "7de49ad7.a07d7c",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Trigger email",
        "func": "var alert_sent_low=flow.get(\"alert_sent_room2_low\");\nvar alert_sent_high=flow.get(\"alert_sent_room2_high\");\nvar alert_enabled=global.get(\"alert_room2_enabled\");\nvar low=global.get(\"alert_room2_low\");\nvar high=global.get(\"alert_room2_high\");\nvar temp=parseInt(msg.payload);\nmsg.payload={send:0,temperature:temp};\nif(alert_enabled)\n{\n  if(temp<low || temp>high) \n  {\n    if((!alert_sent_low && temp<low) || (!alert_sent_high && temp>high) )\n     {   msg.payload={send:1,temperature:temp};\n            \n        if(temp<low)\n        {\n            alert_sent_low=true;\n            alert_sent_high=false;\n        }\n        if(temp>high)\n        {\n             alert_sent_low=false;\n            alert_sent_high=true;\n        }\n     }\n  }\n  else\n    {\n        \n        alert_sent_low=false;\n            alert_sent_high=false;\n    }\n}\nelse\n{\n    alert_sent_low=false;\n            alert_sent_high=false;\n}\nflow.set(\"alert_sent_room2_low\",alert_sent_low);\nflow.set(\"alert_sent_room2_high\",alert_sent_high);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "bbd78257.ad85f8"
            ]
        ]
    },
    {
        "id": "bbd78257.ad85f8",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "d7fda3cc.c9e62",
                "e8b062c1.54e808"
            ]
        ]
    },
    {
        "id": "d7fda3cc.c9e62",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "email composition",
        "func": "msg.payload=\"Room 2 temperature is \"+msg.payload.temperature+\"°C\";\nmsg.to=global.get(\"Email\");\nmsg.topic=\"Smart thermostat alert: Room 2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "ec787195.87ea"
            ]
        ]
    },
    {
        "id": "dbbdae.0050aa5",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "e4e2e0c.31bb6a",
                "bbfeaa07.e5194"
            ]
        ]
    },
    {
        "id": "e4e2e0c.31bb6a",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "email composition",
        "func": "msg.payload=\"Room 3 temperature is \"+msg.payload.temperature+\"°C\";\nmsg.to=global.get(\"Email\");\nmsg.topic=\"Smart thermostat alert: Room 3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 360,
        "wires": [
            [
                "ec787195.87ea"
            ]
        ]
    },
    {
        "id": "9b52d8a2.3a199",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Trigger email",
        "func": "var alert_sent_low=flow.get(\"alert_sent_room3_low\");\nvar alert_sent_high=flow.get(\"alert_sent_room3_high\");\nvar alert_enabled=global.get(\"alert_room3_enabled\");\nvar low=global.get(\"alert_room3_low\");\nvar high=global.get(\"alert_room3_high\");\nvar temp=parseInt(msg.payload);\n\nmsg.payload={send:0,temperature:temp};\nif(alert_enabled)\n{\n  if(temp<low || temp>high) \n  {\n    if((!alert_sent_low && temp<low) || (!alert_sent_high && temp>high) )\n     {   msg.payload={send:1,temperature:temp};\n            \n        if(temp<low)\n        {\n            alert_sent_low=true;\n            alert_sent_high=false;\n        }\n        if(temp>high)\n        {\n             alert_sent_low=false;\n            alert_sent_high=true;\n        }\n     }\n  }\n  else\n    {\n        \n        alert_sent_low=false;\n            alert_sent_high=false;\n    }\n}\nelse\n{\n    alert_sent_low=false;\n            alert_sent_high=false;\n}\nflow.set(\"alert_sent_room3_low\",alert_sent_low);\nflow.set(\"alert_sent_room3_high\",alert_sent_high);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "dbbdae.0050aa5"
            ]
        ]
    },
    {
        "id": "c9060872.443cb",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "Trigger email",
        "func": "var alert_sent_low=flow.get(\"alert_sent_room4_low\");\nvar alert_sent_high=flow.get(\"alert_sent_room4_high\");\nvar alert_enabled=global.get(\"alert_room4_enabled\");\nvar low=global.get(\"alert_room4_low\");\nvar high=global.get(\"alert_room4_high\");\nvar temp=parseInt(msg.payload);\n\nmsg.payload={send:0,temperature:temp};\nif(alert_enabled)\n{\n  if(temp<low || temp>high) \n  {\n    if((!alert_sent_low && temp<low) || (!alert_sent_high && temp>high) )\n     {   msg.payload={send:1,temperature:temp};\n            \n        if(temp<low)\n        {\n            alert_sent_low=true;\n            alert_sent_high=false;\n        }\n        if(temp>high)\n        {\n             alert_sent_low=false;\n            alert_sent_high=true;\n        }\n     }\n  }\n  else\n    {\n        \n        alert_sent_low=false;\n            alert_sent_high=false;\n    }\n}\nelse\n{\n    alert_sent_low=false;\n            alert_sent_high=false;\n}\nflow.set(\"alert_sent_room4_low\",alert_sent_low);\nflow.set(\"alert_sent_room4_high\",alert_sent_high);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 480,
        "wires": [
            [
                "edc002d5.b12dc"
            ]
        ]
    },
    {
        "id": "edc002d5.b12dc",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "payload.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "ee99bee4.dffab",
                "b4b7876a.d17a78"
            ]
        ]
    },
    {
        "id": "ee99bee4.dffab",
        "type": "function",
        "z": "9b70f5a9.df30e",
        "name": "email composition",
        "func": "msg.payload=\"Room 4 temperature is \"+msg.payload.temperature+\"°C\";\nmsg.to=global.get(\"Email\");\nmsg.topic=\"Smart thermostat alert: Room 4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 460,
        "wires": [
            [
                "ec787195.87ea"
            ]
        ]
    },
    {
        "id": "d773145.04d4de8",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "Allert creation",
        "func": "var room=parseInt(msg.topic);\nvar low=msg.payload.l_tresh;\nvar high=msg.payload.h_tresh;\nif(room==1)\n{\n    enable=global.get(\"alert_room1_enabled\");\n    h_tresh=global.get(\"alert_room1_high\");\n    l_tresh=global.get(\"alert_room1_low\");\n        \n}\nelse if(room==2)\n{\n    enable=global.get(\"alert_room2_enabled\");\n    h_tresh=global.get(\"alert_room2_high\");\n    l_tresh=global.get(\"alert_room2_low\");\n}\nelse if(room==3)\n{\n    enable=global.get(\"alert_room3_enabled\");\n    h_tresh=global.get(\"alert_room3_high\");\n    l_tresh=global.get(\"alert_room3_low\");\n}\nelse if(room==4)\n{\n    enable=global.get(\"alert_room4_enabled\");\n    h_tresh=global.get(\"alert_room4_high\");\n    l_tresh=global.get(\"alert_room4_low\");\n}\nelse\n{\n    enable=global.get(\"alert_house_enabled\");\n    h_tresh=global.get(\"alert_house_high\");\n    l_tresh=global.get(\"alert_house_low\");\n}\n\n\nif(global.get(\"Email\")!==null)\n{\n    if(low<high)\n    {\n        enable=true;\n        h_tresh=high;\n        l_tresh=low;\n        if(room==5)\n            msg.payload=\"Alert created for House\";\n        else\n            msg.payload=\"Alert created for Room \"+room;\n        if(room==1)\n        {\n            global.set(\"alert_room1_enabled\",enable);\n            global.set(\"alert_room1_high\",h_tresh);\n            global.set(\"alert_room1_low\",l_tresh);\n                \n        }\n        else if(room==2)\n        {\n            global.set(\"alert_room2_enabled\",enable);\n            global.set(\"alert_room2_high\",h_tresh);\n            global.set(\"alert_room2_low\",l_tresh);\n        }\n        else if(room==3)\n        {\n            global.set(\"alert_room3_enabled\",enable);\n            global.set(\"alert_room3_high\",h_tresh);\n            global.set(\"alert_room3_low\",l_tresh);\n        }\n        else if(room==4)\n        {\n            global.set(\"alert_room4_enabled\",enable);\n            global.set(\"alert_room4_high\",h_tresh);\n            global.set(\"alert_room4_low\",l_tresh);\n        }\n        else\n        {\n            global.set(\"alert_house_enabled\",enable);\n            global.set(\"alert_house_high\",h_tresh);\n            global.set(\"alert_house_low\",l_tresh);\n        }\n    }\n    else\n    {\n        msg.payload=\"Impossible to create alert, low treshold must be lesser than high treshold\";\n    }\n}\nelse\n{\n    msg.payload=\"You have to set an email address\";\n}\n\n\nmsg.topic=null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "de9dda39.4ecce",
                "f1ebb309.d8501"
            ]
        ]
    },
    {
        "id": "9638dd20.c19dd",
        "type": "function",
        "z": "43474f.080cd0b",
        "name": "message translator",
        "func": "var answer=msg.payload;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\nif(answer.opt===0 || answer.opt==3 || answer.opt==4)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n            {\n                msg.payload=\"Air conditioner powered ON\";\n                msg_air={background:active_color_air};\n                if(answer.opt==3)\n                    msg_heat={background:inactive_color};\n            }\n        else\n            {\n                msg.payload=\"Air conditioner powered OFF\";\n                msg_air={background:inactive_color};\n            }\n    }\n    else\n    {\n        msg.payload=\"Impossible to turn on the air conditioner, you have to turn off the heater.\";\n    }\n}\nelse if(answer.opt==1 || answer.opt==5 || answer.opt==6)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n        {\n               msg.payload=\"Heater powered ON\";\n               msg_heat={background:active_color_heat};\n               if(answer.opt==5)\n                    msg_air={background:inactive_color};\n        }\n        else\n        {\n            msg.payload=\"Heater powered OFF\";\n            msg_heat={background:inactive_color};\n        }\n    }\n    else\n    {\n       msg.payload=\"Impossible to turn on the heater, you have to turn off the air conditioner.\"; \n    }\n}\nelse\n{\n    if(answer.status)\n    {\n        msg.payload=\"Ventilator powered ON\";\n        msg_vent={background:active_color_vent};\n    }\n    else\n    {\n            msg.payload=\"Ventilator powered OFF\";\n            msg_vent={background:inactive_color};\n    }\n}\nreturn [msg,msg_air,msg_heat,msg_vent];",
        "outputs": 4,
        "noerr": 0,
        "x": 1010,
        "y": 440,
        "wires": [
            [
                "5b3e985a.d65dd"
            ],
            [
                "dba9a5ef.86e0a8"
            ],
            [
                "fafbe889.6fbad"
            ],
            [
                "22097a0c.8ca426"
            ]
        ]
    },
    {
        "id": "49067779.5412a8",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "",
        "group": "b86c27e4.2dc43",
        "order": 3,
        "width": "9",
        "height": "1",
        "passthru": false,
        "label": "Delete ",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "404a186a.e3c788"
            ]
        ]
    },
    {
        "id": "f02cd4d3.2f1de8",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "b86c27e4.2dc43",
        "order": 2,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "Email",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "a572d9ed.b27fd8",
        "type": "ui_toast",
        "z": "8f036ae8.44e868",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "404a186a.e3c788",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "delete email",
        "func": "global.set(\"Email\",null);\nmsg.payload=\"Not setted\";\nvar newmsg={payload:\"Email info deleted\"};\nreturn [msg,newmsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 500,
        "y": 780,
        "wires": [
            [
                "f02cd4d3.2f1de8"
            ],
            [
                "a572d9ed.b27fd8"
            ]
        ]
    },
    {
        "id": "5796d5b1.c6ec3c",
        "type": "inject",
        "z": "8f036ae8.44e868",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "5fadb792.c3fb9",
                "f1ebb309.d8501"
            ]
        ]
    },
    {
        "id": "5fadb792.c3fb9",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "initialize info",
        "func": "var email_msg;\nif(global.get(\"Email\")===null)\n{\n    email_msg={payload:\"Not setted\"};\n}\nelse\n{\n    email_msg={payload:global.get(\"Email\")};\n}\nreturn [email_msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "f02cd4d3.2f1de8"
            ],
            []
        ]
    },
    {
        "id": "57a4f6ab.f6bc8",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "6160c2c2.44df2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Room 1 active",
        "label": "Alert",
        "format": "{{msg.payload.active}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 600,
        "wires": []
    },
    {
        "id": "68fc51a5.416f38",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "6160c2c2.44df2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Room 1 high",
        "label": "High treshold",
        "format": "{{msg.payload.high}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 640,
        "wires": []
    },
    {
        "id": "e1fbdf6d.7ccfc",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "6160c2c2.44df2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Room 1 low",
        "label": "Low treshold",
        "format": "{{msg.payload.low}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 680,
        "wires": []
    },
    {
        "id": "f1ebb309.d8501",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "update ui",
        "func": "var msg1={payload: \"\"};\nvar msg2={payload: \"\"};\nvar msg3={payload: \"\"};\nvar msg4={payload: \"\"};\nvar msg5={payload: \"\"};\n\nif(global.get(\"alert_room1_enabled\"))\n{\n    msg1.payload={active:\"Active\",low:global.get(\"alert_room1_low\"),high:global.get(\"alert_room1_high\")}\n   \n}\nelse\n{\n    msg1.payload={active:\"Inactive\",low:\"\",high:\"\"}\n   \n}\nif(global.get(\"alert_room2_enabled\"))\n{\n    msg2.payload={active:\"Active\",low:global.get(\"alert_room2_low\"),high:global.get(\"alert_room2_high\")}\n   \n}\nelse\n{\n    msg2.payload={active:\"Inactive\",low:\"\",high:\"\"}\n   \n}\nif(global.get(\"alert_room3_enabled\"))\n{\n    msg3.payload={active:\"Active\",low:global.get(\"alert_room3_low\"),high:global.get(\"alert_room3_high\")}\n   \n}\nelse\n{\n    msg3.payload={active:\"Inactive\",low:\"\",high:\"\"}\n   \n}\nif(global.get(\"alert_room4_enabled\"))\n{\n    msg4.payload={active:\"Active\",low:global.get(\"alert_room4_low\"),high:global.get(\"alert_room4_high\")}\n   \n}\nelse\n{\n    msg4.payload={active:\"Inactive\",low:\"\",high:\"\"}\n   \n}\nif(global.get(\"alert_house_enabled\"))\n{\n    msg5.payload={active:\"Active\",low:global.get(\"alert_house_low\"),high:global.get(\"alert_house_high\")}\n   \n}\nelse\n{\n    msg5.payload={active:\"Inactive\",low:\"\",high:\"\"}\n   \n}\nreturn [msg1, msg2, msg3,msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "x": 850,
        "y": 900,
        "wires": [
            [
                "57a4f6ab.f6bc8",
                "68fc51a5.416f38",
                "e1fbdf6d.7ccfc"
            ],
            [
                "743fd612.87bb1",
                "d3ad2a84.5461c8",
                "aa60cb56.0878a8"
            ],
            [
                "fce40ef8.a1e538",
                "33fe1f4e.51613",
                "1a944151.077357"
            ],
            [
                "2ce667ae.3d7d88",
                "aa92055.e010278",
                "5f31a59c.aea09c"
            ],
            [
                "c359451d.1c2bd",
                "16e02de0.83ace2",
                "3bdf48f0.74aca"
            ]
        ]
    },
    {
        "id": "c949a69.42eca58",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "Remove allert room 1",
        "group": "6160c2c2.44df2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove alert",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "1",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "d0338844.6a14c8"
            ]
        ]
    },
    {
        "id": "d0338844.6a14c8",
        "type": "function",
        "z": "8f036ae8.44e868",
        "name": "remove alert",
        "func": "room=parseInt(msg.topic);\nif(room!=5)\n{\n    global.set(\"alert_room\"+room+\"_enabled\",false);\n    global.set(\"alert_room\"+room+\"_low\",0);\n    global.set(\"alert_room\"+room+\"_high\",0);\n}\nelse\n{\n    global.set(\"alert_house_enabled\",false);\n    global.set(\"alert_house_low\",0);\n    global.set(\"alert_house_high\",0);\n}\nmsg.topic=null;\nmsg.payload=\"Alert deleted\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "f1ebb309.d8501",
                "1948b9f7.3afe66"
            ]
        ]
    },
    {
        "id": "489f8b75.863b24",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "Remove allert room 2",
        "group": "305ee3f7.392b1c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove alert",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "2",
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "d0338844.6a14c8"
            ]
        ]
    },
    {
        "id": "92e42b5b.c128c8",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "Remove allert room 3",
        "group": "deb74e0f.688798",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove alert",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "3",
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "d0338844.6a14c8"
            ]
        ]
    },
    {
        "id": "a85c22ce.c136f",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "Remove allert room 4",
        "group": "754e3bcd.e553fc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove alert",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "4",
        "x": 200,
        "y": 1220,
        "wires": [
            [
                "d0338844.6a14c8"
            ]
        ]
    },
    {
        "id": "8af02a3f.937d88",
        "type": "ui_button",
        "z": "8f036ae8.44e868",
        "name": "Remove allert house",
        "group": "23d99995.12cdbe",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove alert",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "5",
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "d0338844.6a14c8"
            ]
        ]
    },
    {
        "id": "743fd612.87bb1",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "305ee3f7.392b1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Room 2 active",
        "label": "Alert",
        "format": "{{msg.payload.active}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "d3ad2a84.5461c8",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "305ee3f7.392b1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Room 2 high",
        "label": "High treshold",
        "format": "{{msg.payload.high}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 780,
        "wires": []
    },
    {
        "id": "aa60cb56.0878a8",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "305ee3f7.392b1c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Room 2 low",
        "label": "Low treshold",
        "format": "{{msg.payload.low}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 820,
        "wires": []
    },
    {
        "id": "fce40ef8.a1e538",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "deb74e0f.688798",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Room 3 active",
        "label": "Alert",
        "format": "{{msg.payload.active}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 880,
        "wires": []
    },
    {
        "id": "33fe1f4e.51613",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "deb74e0f.688798",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Room 3 high",
        "label": "High treshold",
        "format": "{{msg.payload.high}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "1a944151.077357",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "deb74e0f.688798",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Room 3 low",
        "label": "Low treshold",
        "format": "{{msg.payload.low}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 960,
        "wires": []
    },
    {
        "id": "2ce667ae.3d7d88",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "754e3bcd.e553fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Room 4 active",
        "label": "Alert",
        "format": "{{msg.payload.active}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 1020,
        "wires": []
    },
    {
        "id": "aa92055.e010278",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "754e3bcd.e553fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Room 4 high",
        "label": "High treshold",
        "format": "{{msg.payload.high}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5f31a59c.aea09c",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "754e3bcd.e553fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Room 4 low",
        "label": "Low treshold",
        "format": "{{msg.payload.low}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c359451d.1c2bd",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "23d99995.12cdbe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "House active",
        "label": "Alert",
        "format": "{{msg.payload.active}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 1160,
        "wires": []
    },
    {
        "id": "16e02de0.83ace2",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "23d99995.12cdbe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "House high",
        "label": "High treshold",
        "format": "{{msg.payload.high}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 1200,
        "wires": []
    },
    {
        "id": "3bdf48f0.74aca",
        "type": "ui_text",
        "z": "8f036ae8.44e868",
        "group": "23d99995.12cdbe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "House low",
        "label": "Low treshold",
        "format": "{{msg.payload.low}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1948b9f7.3afe66",
        "type": "ui_toast",
        "z": "8f036ae8.44e868",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 660,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3f704b66.3bba4c",
        "type": "coap request",
        "z": "43474f.080cd0b",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "f179b60a.a711e8"
            ]
        ]
    },
    {
        "id": "f179b60a.a711e8",
        "type": "function",
        "z": "43474f.080cd0b",
        "name": "initial status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\n\nif(conditioning)\n    msg_air={background:active_color_air};\nelse\n    msg_air={background:inactive_color};\n\nif(heating)\n    msg_heat={background:active_color_heat};\nelse\n   msg_heat={background:inactive_color};\n\nif(ventilation)\n    msg_vent={background:active_color_vent};\nelse\n    msg_vent={background:inactive_color};\n\nreturn [msg_air,msg_heat,msg_vent];",
        "outputs": 3,
        "noerr": 0,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "dba9a5ef.86e0a8"
            ],
            [
                "fafbe889.6fbad"
            ],
            [
                "22097a0c.8ca426"
            ]
        ]
    },
    {
        "id": "308e6f50.f8a21",
        "type": "function",
        "z": "d8902723.e69f98",
        "name": "initial status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\n\nif(conditioning)\n    msg_air={background:active_color_air};\nelse\n    msg_air={background:inactive_color};\n\nif(heating)\n    msg_heat={background:active_color_heat};\nelse\n   msg_heat={background:inactive_color};\n\nif(ventilation)\n    msg_vent={background:active_color_vent};\nelse\n    msg_vent={background:inactive_color};\n\nreturn [msg_air,msg_heat,msg_vent];",
        "outputs": 3,
        "noerr": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "bfd880f3.953918"
            ],
            [
                "7e0a3b74.3a2d6c"
            ],
            [
                "b561374e.78ea5"
            ]
        ]
    },
    {
        "id": "6b3de308.fdc7d4",
        "type": "coap request",
        "z": "d8902723.e69f98",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "308e6f50.f8a21"
            ]
        ]
    },
    {
        "id": "fd016cb0.7779e8",
        "type": "coap request",
        "z": "fdef468.f476d38",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "8b5d6f83.cc25d8"
            ]
        ]
    },
    {
        "id": "8b5d6f83.cc25d8",
        "type": "function",
        "z": "fdef468.f476d38",
        "name": "initial status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\n\nif(conditioning)\n    msg_air={background:active_color_air};\nelse\n    msg_air={background:inactive_color};\n\nif(heating)\n    msg_heat={background:active_color_heat};\nelse\n   msg_heat={background:inactive_color};\n\nif(ventilation)\n    msg_vent={background:active_color_vent};\nelse\n    msg_vent={background:inactive_color};\n\nreturn [msg_air,msg_heat,msg_vent];",
        "outputs": 3,
        "noerr": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "2580cb03.cbf8e4"
            ],
            [
                "5696e3a9.78a54c"
            ],
            [
                "4516f90b.51f45"
            ]
        ]
    },
    {
        "id": "cbe6661a.00a9c",
        "type": "coap request",
        "z": "1be7f76b.adffe9",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "4b0a839b.8042dc"
            ]
        ]
    },
    {
        "id": "4b0a839b.8042dc",
        "type": "function",
        "z": "1be7f76b.adffe9",
        "name": "initial status translator",
        "func": "var obj=msg.payload;\nvar conditioning=obj.air_conditioning;\nvar heating=obj.heating_unit;\nvar ventilation=obj.ventilation_unit;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\n\nif(conditioning)\n    msg_air={background:active_color_air};\nelse\n    msg_air={background:inactive_color};\n\nif(heating)\n    msg_heat={background:active_color_heat};\nelse\n   msg_heat={background:inactive_color};\n\nif(ventilation)\n    msg_vent={background:active_color_vent};\nelse\n    msg_vent={background:inactive_color};\n\nreturn [msg_air,msg_heat,msg_vent];",
        "outputs": 3,
        "noerr": 0,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "79b345a2.d31734"
            ],
            [
                "2c3dab05.8dcc04"
            ],
            [
                "15a72504.44af0b"
            ]
        ]
    },
    {
        "id": "a22dc35a.af9c98",
        "type": "link out",
        "z": "c684704d.a58f18",
        "name": "Room_1",
        "links": [
            "d825455a.beb798",
            "adb2f3bb.44f5"
        ],
        "x": 1515,
        "y": 200,
        "wires": []
    },
    {
        "id": "d825455a.beb798",
        "type": "link in",
        "z": "43474f.080cd0b",
        "name": "House_1_air",
        "links": [
            "a22dc35a.af9c98"
        ],
        "x": 795,
        "y": 240,
        "wires": [
            [
                "1ede298c.329e3e"
            ]
        ]
    },
    {
        "id": "2fa86b99.75e1e4",
        "type": "function",
        "z": "d8902723.e69f98",
        "name": "message translator",
        "func": "var answer=msg.payload;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\nif(answer.opt===0 || answer.opt==3 || answer.opt==4)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n            {\n                msg.payload=\"Air conditioner powered ON\";\n                msg_air={background:active_color_air};\n                if(answer.opt==3)\n                    msg_heat={background:inactive_color};\n            }\n        else\n            {\n                msg.payload=\"Air conditioner powered OFF\";\n                msg_air={background:inactive_color};\n            }\n    }\n    else\n    {\n        msg.payload=\"Impossible to turn on the air conditioner, you have to turn off the heater.\";\n    }\n}\nelse if(answer.opt==1 || answer.opt==5 || answer.opt==6)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n        {\n               msg.payload=\"Heater powered ON\";\n               msg_heat={background:active_color_heat};\n               if(answer.opt==5)\n                    msg_air={background:inactive_color};\n        }\n        else\n        {\n            msg.payload=\"Heater powered OFF\";\n            msg_heat={background:inactive_color};\n        }\n    }\n    else\n    {\n       msg.payload=\"Impossible to turn on the heater, you have to turn off the air conditioner.\"; \n    }\n}\nelse\n{\n    if(answer.status)\n    {\n        msg.payload=\"Ventilator powered ON\";\n        msg_vent={background:active_color_vent};\n    }\n    else\n    {\n            msg.payload=\"Ventilator powered OFF\";\n            msg_vent={background:inactive_color};\n    }\n}\nreturn [msg,msg_air,msg_heat,msg_vent];",
        "outputs": 4,
        "noerr": 0,
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "1396e7aa.b8a93"
            ],
            [
                "bfd880f3.953918"
            ],
            [
                "7e0a3b74.3a2d6c"
            ],
            [
                "b561374e.78ea5"
            ]
        ]
    },
    {
        "id": "fdc08f25.13ef48",
        "type": "function",
        "z": "fdef468.f476d38",
        "name": "message translator",
        "func": "var answer=msg.payload;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\nif(answer.opt===0 || answer.opt==3 || answer.opt==4)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n            {\n                msg.payload=\"Air conditioner powered ON\";\n                msg_air={background:active_color_air};\n                if(answer.opt==3)\n                    msg_heat={background:inactive_color};\n            }\n        else\n            {\n                msg.payload=\"Air conditioner powered OFF\";\n                msg_air={background:inactive_color};\n            }\n    }\n    else\n    {\n        msg.payload=\"Impossible to turn on the air conditioner, you have to turn off the heater.\";\n    }\n}\nelse if(answer.opt==1 || answer.opt==5 || answer.opt==6)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n        {\n               msg.payload=\"Heater powered ON\";\n               msg_heat={background:active_color_heat};\n               if(answer.opt==5)\n                    msg_air={background:inactive_color};\n        }\n        else\n        {\n            msg.payload=\"Heater powered OFF\";\n            msg_heat={background:inactive_color};\n        }\n    }\n    else\n    {\n       msg.payload=\"Impossible to turn on the heater, you have to turn off the air conditioner.\"; \n    }\n}\nelse\n{\n    if(answer.status)\n    {\n        msg.payload=\"Ventilator powered ON\";\n        msg_vent={background:active_color_vent};\n    }\n    else\n    {\n            msg.payload=\"Ventilator powered OFF\";\n            msg_vent={background:inactive_color};\n    }\n}\nreturn [msg,msg_air,msg_heat,msg_vent];",
        "outputs": 4,
        "noerr": 0,
        "x": 1075.5,
        "y": 345.5,
        "wires": [
            [
                "53debd26.6982ac"
            ],
            [
                "2580cb03.cbf8e4"
            ],
            [
                "5696e3a9.78a54c"
            ],
            [
                "4516f90b.51f45"
            ]
        ]
    },
    {
        "id": "f1902b65.ab7",
        "type": "function",
        "z": "1be7f76b.adffe9",
        "name": "message translator",
        "func": "var answer=msg.payload;\nvar msg_air;\nvar msg_heat;\nvar msg_vent;\nvar active_color_vent=\"#00ff00\";\nvar active_color_heat=\"#ff0000\";\nvar active_color_air=\"#0099cc\";\nvar inactive_color=\"#abadad\";\nif(answer.opt===0 || answer.opt==3 || answer.opt==4)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n            {\n                msg.payload=\"Air conditioner powered ON\";\n                msg_air={background:active_color_air};\n                if(answer.opt==3)\n                    msg_heat={background:inactive_color};\n            }\n        else\n            {\n                msg.payload=\"Air conditioner powered OFF\";\n                msg_air={background:inactive_color};\n            }\n    }\n    else\n    {\n        msg.payload=\"Impossible to turn on the air conditioner, you have to turn off the heater.\";\n    }\n}\nelse if(answer.opt==1 || answer.opt==5 || answer.opt==6)\n{\n    if(answer.result)\n    {\n        if(answer.status)\n        {\n               msg.payload=\"Heater powered ON\";\n               msg_heat={background:active_color_heat};\n               if(answer.opt==5)\n                    msg_air={background:inactive_color};\n        }\n        else\n        {\n            msg.payload=\"Heater powered OFF\";\n            msg_heat={background:inactive_color};\n        }\n    }\n    else\n    {\n       msg.payload=\"Impossible to turn on the heater, you have to turn off the air conditioner.\"; \n    }\n}\nelse\n{\n    if(answer.status)\n    {\n        msg.payload=\"Ventilator powered ON\";\n        msg_vent={background:active_color_vent};\n    }\n    else\n    {\n            msg.payload=\"Ventilator powered OFF\";\n            msg_vent={background:inactive_color};\n    }\n}\nreturn [msg,msg_air,msg_heat,msg_vent];",
        "outputs": 4,
        "noerr": 0,
        "x": 1190,
        "y": 360,
        "wires": [
            [
                "27b9fb2a.6eb9cc"
            ],
            [
                "79b345a2.d31734"
            ],
            [
                "2c3dab05.8dcc04"
            ],
            [
                "15a72504.44af0b"
            ]
        ]
    },
    {
        "id": "7c7a6563.7b970c",
        "type": "link out",
        "z": "c684704d.a58f18",
        "name": "Room_3",
        "links": [
            "3949c7be.18a1f8"
        ],
        "x": 1515,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b542027.2dbbe8",
        "type": "link out",
        "z": "c684704d.a58f18",
        "name": "Room_4",
        "links": [
            "659dbc2f.1feb74"
        ],
        "x": 1515,
        "y": 540,
        "wires": []
    },
    {
        "id": "1ddd3498.f1e0e3",
        "type": "link in",
        "z": "d8902723.e69f98",
        "name": "House_2",
        "links": [
            "70779f33.755928"
        ],
        "x": 735,
        "y": 200,
        "wires": [
            [
                "c4025133.6a1b28"
            ]
        ]
    },
    {
        "id": "3949c7be.18a1f8",
        "type": "link in",
        "z": "fdef468.f476d38",
        "name": "House_3",
        "links": [
            "7c7a6563.7b970c"
        ],
        "x": 715,
        "y": 220,
        "wires": [
            [
                "2ff888b5.0ae4c8"
            ]
        ]
    },
    {
        "id": "659dbc2f.1feb74",
        "type": "link in",
        "z": "1be7f76b.adffe9",
        "name": "House_4",
        "links": [
            "3b542027.2dbbe8"
        ],
        "x": 835,
        "y": 260,
        "wires": [
            [
                "dcb6a5a8.2bb0a8"
            ]
        ]
    },
    {
        "id": "246e5b41.a3d064",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "success",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "414769d5.c4eb18",
                "7eb08c39.23bb24",
                "678ae7a.6226518"
            ]
        ]
    },
    {
        "id": "24d9da23.919096",
        "type": "switch",
        "z": "9b70f5a9.df30e",
        "name": "",
        "property": "success",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 720,
        "wires": [
            [
                "5caf4fb7.e6d3f8"
            ]
        ]
    },
    {
        "id": "960d8b74.c1838",
        "type": "ui_toast",
        "z": "9b70f5a9.df30e",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Email alert",
        "x": 1610,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c3a5379.404c04",
        "type": "change",
        "z": "9b70f5a9.df30e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email alert sent: Room 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 80,
        "wires": [
            [
                "960d8b74.c1838"
            ]
        ]
    },
    {
        "id": "e8b062c1.54e808",
        "type": "change",
        "z": "9b70f5a9.df30e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email alert sent: Room 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "960d8b74.c1838"
            ]
        ]
    },
    {
        "id": "bbfeaa07.e5194",
        "type": "change",
        "z": "9b70f5a9.df30e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email alert sent: Room 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 320,
        "wires": [
            [
                "960d8b74.c1838"
            ]
        ]
    },
    {
        "id": "b4b7876a.d17a78",
        "type": "change",
        "z": "9b70f5a9.df30e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email alert sent: Room 4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 420,
        "wires": [
            [
                "960d8b74.c1838"
            ]
        ]
    },
    {
        "id": "65b8b9f8.2c362",
        "type": "change",
        "z": "9b70f5a9.df30e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Email alert sent: House",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 620,
        "wires": [
            [
                "960d8b74.c1838"
            ]
        ]
    },
    {
        "id": "70779f33.755928",
        "type": "link out",
        "z": "c684704d.a58f18",
        "name": "Room_2",
        "links": [
            "1ddd3498.f1e0e3"
        ],
        "x": 1515,
        "y": 280,
        "wires": []
    }
]
