Source/node-redFlow
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb745abf.1e2bf8",
        "type": "coap request",
        "z": "b5d1af96.0416f8",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/sensors/temp",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Temp Request",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "dc3d725d.702148",
                "9269482b.f349d8"
            ]
        ]
    },
    {
        "id": "227c8d61.706dda",
        "type": "inject",
        "z": "b5d1af96.0416f8",
        "name": "Observe inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "cb745abf.1e2bf8",
                "f814638c.1bd26"
            ]
        ]
    },
    {
        "id": "d808fa90.985d1",
        "type": "inject",
        "z": "b5d1af96.0416f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "43c63a8.5107344"
            ]
        ]
    },
    {
        "id": "43c63a8.5107344",
        "type": "coap request",
        "z": "b5d1af96.0416f8",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Options GET",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "c13f57ec.296a18"
            ]
        ]
    },
    {
        "id": "c13f57ec.296a18",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "fbf672d9.57cc48",
        "type": "coap request",
        "z": "b5d1af96.0416f8",
        "method": "POST",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]:5683/actuators/heating",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "Options POST",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "d7d2a2e7.0c6d98"
            ]
        ]
    },
    {
        "id": "d7d2a2e7.0c6d98",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "dc3d725d.702148",
        "type": "ui_gauge",
        "z": "b5d1af96.0416f8",
        "name": "",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "e5a876ab.aa0228",
        "type": "ui_button",
        "z": "b5d1af96.0416f8",
        "name": "Air conditioner",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Air conditioner",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=0",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "fbf672d9.57cc48"
            ]
        ]
    },
    {
        "id": "16a5dd29.e686db",
        "type": "ui_button",
        "z": "b5d1af96.0416f8",
        "name": "Heating",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Heating",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=1",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "fbf672d9.57cc48"
            ]
        ]
    },
    {
        "id": "f1813e16.01cfa",
        "type": "ui_button",
        "z": "b5d1af96.0416f8",
        "name": "Ventilation",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ventilation",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "opt=2",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "fbf672d9.57cc48"
            ]
        ]
    },
    {
        "id": "9269482b.f349d8",
        "type": "file",
        "z": "b5d1af96.0416f8",
        "name": "",
        "filename": "room1Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b889bd70.91a9a",
        "type": "inject",
        "z": "b5d1af96.0416f8",
        "name": "Average inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "69124c87.3f28e4"
            ]
        ]
    },
    {
        "id": "69124c87.3f28e4",
        "type": "file in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "filename": "room1Temp",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "74685be7.b0c5ac"
            ]
        ]
    },
    {
        "id": "bdb38182.330ff8",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "74685be7.b0c5ac",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "AverageRoom1",
        "func": "var num = msg.payload.split(\"\\n\");\nvar avg = 0;\n\nfor(var i = 0; i < num.length - 1; i++)\n{\n    avg += parseInt(num[i]);\n}\nmsg.payload = avg/(num.length - 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "bdb38182.330ff8",
                "891694d3.16eff8"
            ]
        ]
    },
    {
        "id": "f814638c.1bd26",
        "type": "file",
        "z": "b5d1af96.0416f8",
        "name": "",
        "filename": "room1Temp",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "891694d3.16eff8",
        "type": "ui_chart",
        "z": "b5d1af96.0416f8",
        "name": "",
        "group": "8c48261c.37e358",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 830,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8c48261c.37e358",
        "type": "ui_group",
        "z": "",
        "name": "Mote1",
        "tab": "388861e7.9f48e6",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "388861e7.9f48e6",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]
